<ng-container>
  <div cdkDropListGroup>
    <div class="example-container">
      <h2>Not started</h2>

      <div
        cdkDropList
        [cdkDropListData]="notStartedTasks"
        class="example-list"
        (cdkDropListDropped)="drop($event, 'Not started')"
      >
        <ng-container *ngFor="let task of notStartedTasks">
          <div class="example-box" cdkDrag id="{{ task.id }}">
            <div class="flex">
              {{ task.title }}
              <mat-chip disabled>{{ task.label }}</mat-chip>
              <button
                mat-mini-fab
                aria-label="delete-icon"
                (click)="deleteTask(task)"
              >
                <lucide-icon name="Trash2"></lucide-icon>
              </button>
            </div>
          </div>
        </ng-container>
      </div>
    </div>

    <div class="example-container">
      <h2>In progress</h2>
      <div
        cdkDropList
        [cdkDropListData]="inProgressTasks"
        class="example-list"
        (cdkDropListDropped)="drop($event, 'In progress')"
      >
        <ng-container *ngFor="let task of inProgressTasks">
          <div class="example-box" cdkDrag id="{{ task.id }}">
            <div class="flex">
              {{ task.title }}
              <mat-chip disabled>{{ task.label }}</mat-chip>
              <button
                mat-mini-fab
                aria-label="delete-icon"
                (click)="deleteTask(task)"
              >
                <lucide-icon name="Trash2"></lucide-icon>
              </button>
            </div>
          </div>
        </ng-container>
      </div>
    </div>

    <div class="example-container">
      <h2>Done</h2>
      <div
        cdkDropList
        [cdkDropListData]="doneTasks"
        class="example-list"
        (cdkDropListDropped)="drop($event, 'Done')"
      >
        <ng-container *ngFor="let task of doneTasks">
          <div class="example-box" cdkDrag id="{{ task.id }}">
            <div class="flex">
              {{ task.title }}
              <mat-chip disabled>{{ task.label }}</mat-chip>
              <button
                mat-mini-fab
                aria-label="delete-icon"
                (click)="deleteTask(task)"
              >
                <lucide-icon name="Trash2"></lucide-icon>
              </button>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
  <app-button-create-task></app-button-create-task>
</ng-container>
